@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: italic;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-950: hsl(0, 0%, 7%);
    --gray-500: hsl(0, 0%, 42%); 
    font-family: "Figtree", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    background-color: var(--yellow);
    padding: 1rem;
}

main {
    background-color: var(--white);
    width: 100%;
    max-width: 375px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 8px 8px #000;
}
.blog-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

h1 {
    font-size: 24px;
}

h1:hover {
    color: var(--yellow);
    cursor: pointer;
}

button {
    background-color: var(--yellow);
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 12px;
    line-height: 1.5;
}

.content p {
    font-size: 12px;
    line-height: 1.5;
}

.description {
    color: var(--gray-500);
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author p {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
}

.author img {
    width: 32px;
    height: 32px;
}